
html {
    background: url("sunset.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*{
    text-align: center;

}

#imageLogo{
    height: 20%;
    width: 20%;
}


